body {
  background-color: #1b263b;
}
p {
  color: #e0e1dd;
  font-weight: 400;
  font-size: 3vw;
  font-family: 'Inter', sans-serif;
    
}
li {
  color: #e0e1dd;
  font-weight: 622;
  font-size: 3vw;
  font-family: 'Inter', sans-serif;
      
}
button {
  size: 10vw;
  color: #0d1b2a;
  font-weight: 800;
  font-size: medium;
  font-family: 'Inter', sans-serif;
  background-color: #e0e1dd;
  border-radius: 5px;

}
a {
  color: #778da9;
}
.Title {
  font-weight: 622;
  font-size: 12vw;
}
.HeaderText {
  font-size: 6vw;
  font-weight: bold;
}
.CoreCompetencies {
  font-size: 4vw;
  font-weight: bold;
  font-style: italic;
}
.Project {
  background-color: #0d1b2a;
  text-align: center;
}
